.carousel-item {
    height: "32 rem";
    background: "#777";
    position : "relative";

}
.container {
    
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

h1 {
    font-size:xx-large;
}